$gutter-quadruple: ($gutter * 4);

$sizeModifiers: quadruple, doubled, half, quarter, one-plus-half;
$sizeList: (
    doubled: $gutter-doubled,
    half: $gutter-half,
    quarter: $gutter-quarter,
    one-plus-half: $gutter-one-plus-half,
    quadruple: $gutter-quadruple
);
