.u-gutter--doubled {
    margin-left: $gutter-doubled;
    margin-right: $gutter-doubled;
}

.u-gutter--right-doubled {
    margin-right: $gutter-doubled;
}

.u-gutter--right-quarter {
    margin-right: $gutter-quarter;
}

.u-gutter--left-quarter {
    margin-left: $gutter-quarter;
}

.u-gutter--left-half {
    margin-left: $gutter-half;
}
